<nav class="navbar navbar-expand-md navbar-dark position">
    <a class="navbar-brand" routerLink="/"><img class="logo_img" src="" alt="LOGO"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
        <input type="text" placeholder=""><span>
          <button class="search"><li><fa-icon [icon]="faSearch" class="faSearch"></fa-icon></li></button>
        </span>

        <div class="language">
          <img class="UA" src="" alt="UA">
          <img class="USA" src="" alt="USA">
        </div>
        <button class="log-on">Регістрація</button>
        <button class="log-in">Вхід</button>
    </div>
</nav>