<div class="registration">
  <div class="overflow"></div>
  <div class="registration__box">
    <div class="form-registration">
      <p class="reg">Реєстрація</p>

      <div class="email">
        <input type="text" placeholder="Логін" name="email" required>
      </div>
      <div class="pass">
        <input type="password" placeholder="Пароль" name="password" required>
      </div>
      <div class="repass">
        <input type="password" placeholder="Повторіть Пароль" name=" password" required>
      </div>
      <div class="button">
        <button  class="btn" (click)="close.emit(false)">Зареєструватись</button>
      </div>
    </div>
  </div>
</div>
