# Environments
.env
.venv
env/
venv/
ENV/
mongoenv/
.idea/

# Django
*.sqlite3
*.pyc

# Migrations
**/**/migrations

# Tests coverage
.coverage
.coveragerc
**/**/htmlcov


**/**/collected_static

# Media
media_files/

# Logging
**/*.log
