<div class="login" xmlns="http://www.w3.org/1999/html">
  <div class="overflow"></div>
  <div id="test" class="login__box">
    <div class="form-login">

       <p class="reg">Вхід</p>

      <div class="email">
        <input type="text" placeholder="Логін" name="email" required>
      </div>
      <div class="pass">
        <input type="password" placeholder="Пароль" name="password" required>
      </div>
      <div class="button">
        <button  class="btn" (click)="close.emit(false)">Вхід</button>
      </div>
    </div>
  </div>
</div>
