  <div class="header-main">
    <nav class="navbar navbar-expand-md navbar-dark position">
      <a class="navbar-brand" routerLink="/"><img class="logo_img" src="assets/images/l2-3.svg" alt="=("></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

            <a class="nav__link text-2" href="#"><img src="assets/images/UKRAINE.png"></a>
            <a class="nav__link text-2" href="#"><img src="assets/images/USA.png"></a>
          </li>
          <li class="nav-item">
            <button id="regbutt" (click)="toggle()">Реєстрація</button>
            <button id="logbutt" (click)="toggle1()">Вхід</button>
<!--            <a class="nav__link text-2" href="#">Реєстрація<span class="sr-only">(current)</span></a>-->
<!--                <a class="nav__link text-2" href="#">Вхід</a>-->
          </li>
        </ul>
        <div class="input-group col-md-3 mx-xs-auto">
          <input class="form-control py-2 border-right-0 border" type="" value="" id="example-search-input">
          <span class="input-group-append">
                  <button class="btn border-left-0 border QQQ" type="button">
                    <i class="fa fa-search"><img src="assets/images/i%20class=fas%20fa-searchi.png" alt=""></i>
                  </button>
                </span>
        </div>
      </div>
    </nav>

    <div class="dvs dvs-1">
      <div class="col"></div>
      <div class="col">
        <a class="butt" routerLink="/">головна</a>
        <a class="butt" routerLink="students">студенту</a>
        <a class="butt" routerLink="science">наука</a>
        <a class="butt" routerLink="about">про нас</a></div>
      <div class="col"></div>
    </div>

    <div class="HOUSE">
      <p><img class="home" src="assets/images/123.png" alt="house"></p>
    </div>

    <div class="text-1">
      <div class="col"><p>ЛУЦЬКИЙ НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ</p></div>
      <div class="w-100"></div>
      <div class="col"><p>Кафедра комп'ютерної інженерії та кібербезпеки</p></div>
    </div>

    <div class="row justify-content-center no-gutters IMAGES">
      <div class="col-auto"><p><img class="Images-1" src="assets/images/2img2.png" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-2" src="assets/images/img3.png" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-3" src="assets/images/img4.png" alt="=("></p></div>
    </div>
  </div>
<app-registration *ngIf="showRegistration" (close)="closeRegistration($event)"></app-registration>
<app-log-in *ngIf="showLogin" (close)="closeLogin($event)"></app-log-in>
