<div class="mailing">
  <div class="mailing-header">
    <div class="title"><p>УПРАВЛІННЯ РОЗСИЛКАМИ</p></div>
    <div class="mailing-header-button">
      <button type="submit" class="btn">
        Створити розсилку
      </button>
    </div>
  </div>
  <div class="mailing-body">
    <div class="mailing-side">
      <ul>
        <li><a href="#">РОЗКЛАД</a></li>
        <li><a href="#">КОРИСТУВАЧІ</a></li>
        <li><a href="#">СПИСОК РОЗСИЛОК</a></li>
        <li><a class="selected" href="#">СТАТИСТИКА</a></li>
      </ul>
    </div>
    <div class="mailing-main">
      <div class="top"><p>СТАТИСТИКА</p></div>
      <div class="middle">
        <table>
          <tr class="line-first">
            <td class="column">Розсилка</td>
            <td class="column">Дата відправлення</td>
            <td class="column">Доставлено</td>
            <td class="column">Відкрито</td>
            <td class="column">Не прийнято</td>
          </tr>
          <tr class="line">
            <td class="column">test1</td>
            <td class="column">20.09.19 16:00</td>
            <td class="column">687</td>
            <td class="column">456</td>
            <td class="column">231</td>
          </tr>
          <tr class="line">
            <td class="column">test2</td>
            <td class="column">20.09.19 13:00</td>
            <td class="column">924</td>
            <td class="column">670</td>
            <td class="column">254</td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
          <tr class="line">
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
            <td class="column"></td>
          </tr>
        </table>
      </div>
      <div class="bottom"><p>Всього: 2</p></div>
    </div>
  </div>
</div>
