<app-header></app-header>
<div class="header">
  <div class="dvs dvs-1">
    <div class="col"></div>
    <div class="col">
      <a class="butt butt-borde" routerLink="/">головна</a>
      <a class="butt butt-borde" routerLink="/students">студенту</a>
      <a class="butt butt-borde" routerLink="/science">наука</a>
      <a class="butt butt-borde" routerLink="/about">про нас</a></div>
    <div class="col"></div>
  </div>

  <div class="first-block grid">
    <div class="text_first grid">
      <p>ЛУЦЬКИЙ
        НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ
        УНІВЕРСИТЕТ <br><br>
        Кафедра комп'ютерної іженерії та
        КІБЕРБЕЗПЕКИ</p>
    </div>
    <div class="image_first grid">
      <img src="assets/img/img17.jpg" alt="=(">
    </div>
  </div>

</div>

<div class="about_img grid">
  <li><fa-icon [icon]="faAddressCard" class="faAddressCard icon"></fa-icon></li>
  <p>Про нас</p>
</div>

<div class="block_teacher grid">
  <div class="img_teacher">
    <img src="" alt="=(">
  </div>
  <div class="Brief_description">
    <h4>Пеx Петро Антонович</h4>
    <p>Lorem ipsum dolor sit amet , consectetur adipisicing elit. A accusantium aliquid architecto consequatur deserunt dignissimos </p>
  </div>
  <div class="cathedra_img">
    <img src="" alt="=(">
  </div>
  <div class="read_more">
    <button id="btn" onclick="readMore()">Детальніше</button>
  </div>
  <div class="more_information grid" id="more">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, beatae, consectetur consequuntur delectus eligendi ex, facere incidunt ipsa itaque numquam obcaecati possimus praesentium quibusdam repudiandae sed similique sint unde.</p>
  </div>
</div>

<app-footer></app-footer>
