<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark position">
    <a class="navbar-brand" routerLink="/"><img class="logo_img" src="assets/images/l2-3.svg" alt="=("></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item Otstup">
          <a class="nav__link text-2" href="#"><img src="assets/images/UKRAINE.png"></a>
          <a class="nav__link text-2" href="#"><img src="assets/images/USA.png"></a>
        </li>
        <li class="nav-item Otstup">
          <a class="nav__link text-2" href="#">Реєстрація <span class="sr-only">(current)</span></a>
          <a class="nav__link text-2" href="#">Вхід</a>
        </li>
      </ul>
      <div class="input-group col-md-3 mx-xs-auto">
        <input class="form-control py-2 border-right-0 border" type="" value="" id="example-search-input">
        <span class="input-group-append">
                  <button class="btn border-left-0 border QQQ" type="button">
                    <i class="fa fa-search"><img src="assets/images/i%20class=fas%20fa-searchi.png" alt=""></i>
                  </button>
                </span>
      </div>
    </div>
  </nav>
  
  <div class="dvs dvs-1">
    <div class="col"></div>
    <div class="col">
      <a class="butt butt-borde" routerLink="/">головна</a>
      <a class="butt butt-borde" routerLink="/students">студенту</a>
      <a class="butt butt-borde" routerLink="/science">наука</a>
      <a class="butt butt-borde" routerLink="/about">про нас</a></div>
    <div class="col"></div>
  </div>
  
  <div class="first-block grid">
    <div class="text_first grid">
      <p>ЛУЦЬКИЙ
        НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ
        УНІВЕРСИТЕТ <br><br>
        Кафедра комп'ютерної іженерії та
        КІБЕРБЕЗПЕКИ</p>
    </div>
    <div class="image_first grid">
      <img src="assets/img/img1.jpg" alt="">
    </div>
  </div>

</div>

<div class="about_img grid">
  <img src="assets/img/chalkboard-solid.svg" alt="">
  <p>Про нас</p>
</div>

<div class="block_teacher grid">
  <div class="img_teacher">
    <img src="assets/img/peh_0.jpg" alt="">
  </div>
  <div class="Brief_description">
    <h4>Пеx Петро Антонович</h4>
    <p>Lorem ipsum dolor sit amet , consectetur adipisicing elit. A accusantium aliquid architecto consequatur deserunt dignissimos </p>
  </div>
  <div class="cathedra_img">
    <img src="assets/img/logo_kaf.png" alt="">
  </div>
  <div class="read_more">
    <button id="btn" onclick="readMore()">Детальніше</button>
  </div>
  <div class="more_information grid" id="more">
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, beatae, consectetur consequuntur delectus eligendi ex, facere incidunt ipsa itaque numquam obcaecati possimus praesentium quibusdam repudiandae sed similique sint unde.</p>
  </div>
</div>




