<app-header></app-header>
<div style="
    background: url(assets/img/img1.jpg);
    background-size: cover;
    padding-top: 210px;">
<div class="dvs dvs-1">
      <div class="col"></div>
      <div class="col">
        <a class="butt" routerLink="/">головна</a>
        <a class="butt" routerLink="students">студенту</a>
        <a class="butt" routerLink="science">наука</a>
        <a class="butt" routerLink="about">про нас</a></div>
      <div class="col"></div>
    </div>

    <div class="HOUSE">
       <li><fa-icon [icon]="faUniversity" class="faUniversity icon-header"></fa-icon></li>
    </div>

    <div class="text-1">
      <div class="col"><p>ЛУЦЬКИЙ НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ</p></div>
      <div class="w-100"></div>
      <div class="col"><p>Кафедра комп'ютерної інженерії та кібербезпеки</p></div>

    <div class="row justify-content-center no-gutters IMAGES">
      <div class="col-auto"><p><img class="Images-1" src="assets/img/img3.jpg" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-2" src="assets/img/img2.jpg" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-3" src="assets/img/img4.jpg" alt="=("></p></div>
    </div>
  </div>
</div>
<div class="body">
  <div class="row blok-1">
    <div class="col-md-1 col-6 icon-position">
        <li><fa-icon [icon]="faGraduationCap" class="faGraduationCap icon"></fa-icon></li>
    </div>
    <div class="col-md-4 col-6 outer-2">
      <p class="text-1">КАФЕДРА КОМП'ЮТЕРНОЇ
        <br>
        ІНЖЕНЕРІЇ ТА КІБЕРБЕЗПЕКИ</p>
    </div>
    <div class="col-md col outer-3">
      <label>
        <input class="form-control py-2 border-right-0 border field" type="" placeholder="пошта">
      </label>
    </div>
    <div class="col-md col outer-3">
      <label>
        <input class="form-control py-2 border-right-0 border field" type="" placeholder="пароль">
      </label>
    </div>
    <div class="col-md col">
      <button type="button" class="btn">Вхід</button>
    </div>
  </div>

  <div class="row blok-2">
    <div class="col-12 col-md-5 oute">
      <img class="image-2" src="assets/img/img5.jpg" alt=")">
    </div>
    <div class="col-12 col-md-7 text-2">
      <ul>
        <li>
          Кафедра комп’ютерної інженерії та кібербезпеки була створена шляхом перейменування кафедри комп’ютерної інженерії (рішення Вченої ради від 30.08.2018р.).
        </li>
        <li>
          Кафедра комп’ютерної інженерії утворена згідно з наказом ректора №1-А-04-25 від 2 січня 2009 року по Луцькому національному технічному університету на підставі рішення Вченої ради ЛНТУ (протокол №6 від 26.12.2008 року) шляхом перейменування кафедри прикладної математики. Завідувачем кафедрою на той час був к.т.н., доц. Пех Петро Антонович.
        </li>
        <li>
          Кафедра прикладної математики була утворена на підставі рішення Вченої ради Луцького індустріального інституту (протокол №12 від 23.06.94 року) та наказу по Луцькому індустріальному інституту №87 від 28.06.94 року. Завідувачем кафедрою на той час був к.т.н., доц. Сорока Ростислав Олександрович.
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center no-gutters blok-3"
  style="background: url(assets/img/img9.jpg) no-repeat;
  background-size: cover;">
    <div class="col-sm-auto col-12 padding-1">
      <p class="text-3">НОВИНИ</p>
      <img class="page-1" src="assets/img/img6.jpg" alt=")">
    </div>
   <div class="blou-line">
      <div class="col-auto padding-60px">
        <img class="page-2" src="assets/img/img7.jpg" alt=")">
        <p class="header-text">Найвагомiшi досягнення</p>
        <p class="header-text-2">За останніх 5 років працівниками кафедри було захищено 4 кандидатських дисертації.</p>
      </div>
    </div>
    <div class="col-auto padding-60px">
      <img class="page-2" src="assets/img/img8.jpg" alt=")">
      <p class="header-text">Випускники</p>
      <p class="header-text-2">За останні 4 роки на кафедрі захищено понад 500 дипломних проектів та робіт, 125 з яких мають акти впровадження у виробництво або виконані на замовлення підприємств.</p>
    </div>
  </div>

  <div class="row blok-4 padding-30px">
    <div class="col-12">
      <p class="info">КОНТАКТИ ЛНТУ</p>
    </div>
    <div class="col">
      <p class="info-2">Юридична адреса</p>
      <div class="info-3">
        <li><img src="assets/icon/img17.jpg" alt=")"> вул. Львівська, 75</li>
        <li>м. Луцьк</li>
        <li>Волинсбка обл.</li>
        <li>43018, Україна</li>
        <li><img src="assets/icon/img19.jpg" alt=")"> +38 (0332) 74-61-03</li>
        <li><img src="assets/icon/img13.jpg" alt=")"> rector@lutsk-ntu.com.ua</li>
        <li>rector@lntu.edu.ua</li>
      </div>
    </div>
    <div class="col">
      <p class="info-2">Приймальна комісія Луцького НТУ</p>
      <div class="info-3">
        <li><img src="assets/icon/img17.jpg" alt=")"> вул. Львівська, 75</li>
        <li>м. Луцьк</li>
        <li>Волинсбка обл.</li>
        <li>43018, Україна</li>
        <li><img src="assets/icon/img19.jpg" alt=")"> +38 (0332) 74-61-11</li>
        <li><img src="assets/icon/img14.jpg" alt=")"> Lutsk-ntu.com.ua</li>
        <li><img src="assets/icon/img13.jpg" alt=")"> pk@lntu.edu.ua</li>
        <li><img src="assets/icon/img2.jpg" alt=")"> pk.lntu</li>
      </div>
    </div>
    <div class="col">
      <p class="info-2">Кафедра комп'ютерної інженерії та кібербезпеки</p>
      <li class="info-3"><img src="assets/icon/img13.jpg" alt=")"> ki@lntu.edu.ua</li>
      <p class="info-2">Факультет коп'ютерних наук та інформаційних технологій</p>
      <li class="info-3"><img src="assets/icon/img17.jpg" alt=")"> +38 (0332) 76-73-94</li>
    </div>
  </div>

  <div class="row blok-5">
    <div class="white-line">
      <div class="blou-blok1">
        <div class="col uku"><button type="button" class="btn borders">
          <img src="assets/img/fb.png" alt=")" class="img-blou-blok">
        </button>
          <button type="button" class="btn borders ">
            <img src="assets/img/ins.png" alt=")" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/img/tw.png" alt=")" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/img/wa.png" alt=")" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/img/t.png" alt=")" class="img-blou-blok">
          </button></div>
      </div>
      <div class="backe-image">
        <img src="assets/img/img10.jpg" alt=")" class="image">
      </div>
      <div class="buttons">
        <button class="btn btn-light button-1" type="submit">Долучитися</button>
        <button class="btn btn-primary button-2" type="submit">Прийднатися</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
