<app-header></app-header>
<div class="body">
  <div class="row blok-1">
    <div class="col-md-1 col-6 outer">
      <img class="image-1" src="assets/images/head.png" alt="(">
    </div>
    <div class="col-md-4 col-6 outer-2">
      <p class="text-1">КАФЕДРА КОМП'ЮТЕРНОЇ
        <br>
        ІНЖЕНЕРІЇ ТА КІБЕРБЕЗПЕКИ</p>
    </div>
    <div class="col-md col outer-3">
      <input class="form-control py-2 border-right-0 border field" type="" placeholder="пошта" id="example-search-input">
    </div>
    <div class="col-md col outer-3">
      <input class="form-control py-2 border-right-0 border field" type="" placeholder="пароль" id="example-search-input">
    </div>
    <div class="col-md col">
      <button type="button" class="btn">Вхід</button>
    </div>
  </div>

  <div class="row blok-2">
    <div class="col-12 col-md-5 oute">
      <img class="image-2" src="assets/images/img5.png" alt="">
    </div>
    <div class="col-12 col-md-7 text-2">
      <ul>
        <li>
          Кафедра комп’ютерної інженерії та кібербезпеки була створена шляхом перейменування кафедри комп’ютерної інженерії (рішення Вченої ради від 30.08.2018р.).
        </li>
        <li>
          Кафедра комп’ютерної інженерії утворена згідно з наказом ректора №1-А-04-25 від 2 січня 2009 року по Луцькому національному технічному університету на підставі рішення Вченої ради ЛНТУ (протокол №6 від 26.12.2008 року) шляхом перейменування кафедри прикладної математики. Завідувачем кафедрою на той час був к.т.н., доц. Пех Петро Антонович.
        </li>
        <li>
          Кафедра прикладної математики була утворена на підставі рішення Вченої ради Луцького індустріального інституту (протокол №12 від 23.06.94 року) та наказу по Луцькому індустріальному інституту №87 від 28.06.94 року. Завідувачем кафедрою на той час був к.т.н., доц. Сорока Ростислав Олександрович.
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center no-gutters blok-3">
    <div class="col-auto padding-1">
      <p class="text-3">НОВИНИ</p>
      <img class="page-1" src="assets/images/page1.png" alt="">
    </div>
    <div class="blou-line">
      <div class="col-auto padding-60px">
        <img class="page-2" src="assets/images/page2.png" alt="">
        <p class="header-text">Найвагомiшi досягнення</p>
        <p class="header-text-2">За останніх 5 років працівниками кафедри було захищено 4 кандидатських дисертації.</p>
      </div>
    </div>
    <div class="col-auto padding-60px">
      <img class="page-2" src="assets/images/page3.png" alt="">
      <p class="header-text">Випускники</p>
      <p class="header-text-2">За останні 4 роки на кафедрі захищено понад 500 дипломних проектів та робіт, 125 з яких мають акти впровадження у виробництво або виконані на замовлення підприємств.</p>
    </div>
  </div>

  <div class="row blok-4 padding-30px">
    <div class="col-12">
      <p class="info">КОНТАКТИ ЛНТУ</p>
    </div>
    <div class="col">
      <p class="info-2">Юридична адреса</p>
      <div class="info-3">
        <li><img src="assets/icon_png/i%20class=fas%20fa-map-marker-alti%20copy.png" alt=""> вул. Львівська, 75</li>
        <li>м. Луцьк</li>
        <li>Волинсбка обл.</li>
        <li>43018, Україна</li>
        <li><img src="assets/icon_png/i%20class=fas%20fa-phonei%20copy.png" alt=""> +38 (0332) 74-61-03</li>
        <li><img src="assets/icon_png/i%20class=fas%20fa-envelopei%20copy%202.png" alt=""> rector@lutsk-ntu.com.ua</li>
        <li>rector@lntu.edu.ua</li>
      </div>
    </div>
    <div class="col">
      <p class="info-2">Приймальна комісія Луцького НТУ</p>
      <div class="info-3">
        <li><img src="assets/icon_png/i%20class=fas%20fa-map-marker-alti%20copy.png" alt=""> вул. Львівська, 75</li>
        <li>м. Луцьк</li>
        <li>Волинсбка обл.</li>
        <li>43018, Україна</li>
        <li><img src="assets/icon_png/i%20class=fas%20fa-phonei%20copy.png" alt=""> +38 (0332) 74-61-11</li>
        <li><img src="assets/icon_png/i%20class=fas%20fa-globei.png" alt=""> Lutsk-ntu.com.ua</li>
        <li><img src="assets/icon_png/i%20class=fas%20fa-envelopei%20copy%202.png" alt=""> pk@lntu.edu.ua</li>
        <li><img src="assets/icon_png/i%20class=fab%20fa-skypei.png" alt=""> pk.lntu</li>
      </div>
    </div>
    <div class="col">
      <p class="info-2">Кафедра комп'ютерної інженерії та кібербезпеки</p>
      <li class="info-3"><img src="assets/icon_png/i%20class=fas%20fa-envelopei%20copy%202.png" alt=""> ki@lntu.edu.ua</li>
      <p class="info-2">Факультет коп'ютерних наук та інформаційних технологій</p>
      <li class="info-3"><img src="assets/icon_png/i%20class=fas%20fa-phonei%20copy.png" alt=""> +38 (0332) 76-73-94</li>
    </div>
  </div>

  <div class="row blok-5">
    <div class="white-line">
      <div class="blou-blok1">
        <div class="col uku"><button type="button" class="btn borders">
          <img src="assets/icon_png/fb.png" alt="" class="img-blou-blok">
        </button>
          <button type="button" class="btn borders ">
            <img src="assets/icon_png/ins.png" alt="" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/icon_png/tw.png" alt="" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/icon_png/wa.png" alt="" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="assets/icon_png/t.png" alt="" class="img-blou-blok">
          </button></div>
      </div>
      <div class="backe-image">
        <img src="assets/images/img10.png" alt="" class="image">
      </div>
      <div class="buttons">
        <button class="btn btn-light button-1" type="submit">Долучитися</button>
        <button class="btn btn-primary button-2" type="submit">Прийднатися</button>
      </div>
    </div>
  </div>
