<app-header></app-header>
<div class="header">
  <div class="dvs dvs-1">
    <div class="col"></div>
    <div class="col">
      <a class="butt butt-borde" routerLink="/">головна</a>
      <a class="butt butt-borde" routerLink="/students">студенту</a>
      <a class="butt butt-borde" routerLink="/science">наука</a>
      <a class="butt butt-borde" routerLink="/about">про нас</a></div>
    <div class="col"></div>
  </div>

  <div class="row first-blok">
    <div class="col-sm-6 text">
      <div class="full-text">
        <p class="top-text">ЛУЦЬКИЙ
          НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ
          УНІВЕРСИТЕТ</p>
        <p class="bot-text">Кафедра комп'ютерної іженерії та
          КІБЕРБЕЗПЕКИ</p>
      </div>
    </div>

    <div class="col-6 image1">
      <img class="image-1-size" src="assets/img/img18.jpg" alt="(">
    </div>
  </div>
</div>

<div class="body">
  <div class="row panel">
    <div class="col-12">
      <a routerLink="/students" class="my text1">
        <li><fa-icon [icon]="faNewspaper" class="faNewspaper icon-footer"></fa-icon></li>
        <p>ОГОЛОШЕННЯ</p>
      </a>

      <a href="#" class="my text1">
        <li><fa-icon [icon]="faGraduationCap" class="faGraduationCap icon-footer"></fa-icon></li>
        <p>ЗАНЯТТЯ</p>
      </a>

      <a href="#" class="my text1">
        <li><fa-icon [icon]="faEdit" class="faEdit icon-footer"></fa-icon></li>
        <p>НАВЧАЛЬНІ МАТЕРІАЛИ</p>
      </a>

      <a href="#" class="my text1">
        <li><fa-icon [icon]="faChalkboardTeacher" class="faChalkboardTeacher icon-footer"></fa-icon></li>
        <p>ЗДАЧА ОНЛАЙН</p>
      </a>

      <a href="#" class="my text1">
        <li><fa-icon [icon]="faBlog" class="faBlog icon-footer"></fa-icon></li>
        <p>БЛОГ</p>
      </a>
    </div>
  </div>
  <div class="announcement">
    <div class="col-12 settings-announcement">
      <li><fa-icon [icon]="faNewspaper" class="faNewspaper icon"></fa-icon></li>
      <p>ОГОЛОШЕННЯ</p>
    </div>
    <div class="announcement-blok">
      <p class="date"></p>
      <p class="announcement-text"></p>
    </div>
    <div class="col-12 settings-announcement">
      <li><fa-icon [icon]="faGraduationCap" class="faGraduationCap icon"></fa-icon></li>
      <p>ЗАНЯТТЯ</p>
    </div>
    <div class="blok-lessons" style="
    background: url(assets/img/img14.jpg);
    -webkit-background-size: cover;">
      <nav class="dws-menu">
        <ul>
          <li><a href="#">СПИСОК ЗАНЯТЬ <fa-icon [icon]="faAngleDown" class="faAngleDown"></fa-icon></a></li>
          <li><a href="#">СПИСОК ПРEДМЕТІВ <fa-icon [icon]="faAngleDown" class="faAngleDown"></fa-icon></a></li>
          <li><a href="#">ВІДВІДУВАННЯ <fa-icon [icon]="faAngleDown" class="faAngleDown"></fa-icon></a></li>
          <li><a href="#">УСПІШНІСТЬ <fa-icon [icon]="faAngleDown" class="faAngleDown"></fa-icon></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="style_table">
    <table>
      <tr class="line-first">
        <td class="column">Вівторок</td>
        <td class="column">Середа</td>
        <td class="column">Четвер</td>
        <td class="column">П'ятниця</td>
        <td class="column">Субота</td>
      </tr>
      <tr class="line">
        <td class="column">Вища</td>
        <td class="column"></td>
        <td class="column"></td>
        <td class="column"></td>
        <td class="column"></td>
      </tr>
    </table>
    <div>
      <a href="#">
        <fa-icon [icon]="faAngleUp" class="faAngle_1"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faAngleDown" class="faAngle_1"></fa-icon>
      </a>
    </div>
  </div>
  <div class="col-12 settings-announcement padding_45px">
    <li><fa-icon [icon]="faEdit" class="faEdit icon"></fa-icon></li>
    <p>НАВЧАЛЬНІ МАТЕРІАЛИ</p>
  </div>
  <div class="row blou-blok">
    <div class="img">
      <img src="" class="img_size" alt="=(">
    </div>
    <div class="content">
      <p class="text_1">Знання-сила</p>
      <p class="text_2">Навчальні матеріали</p>
      <label>
        <input type="text" class="input_field">
      </label>
    </div>
  </div>
  <div class="col-12 settings-announcement padding_45px">
    <li><fa-icon [icon]="faChalkboardTeacher" class="faChalkboardTeacher icon"></fa-icon></li>
    <p>ЗДАЧА ОНЛАЙН</p>
  </div>
  <div class="test__online">
    <div class="full__line">
      <div class="blou__blok">
        <nav class="menu">
          <ul>
            <li><div class="menu__button"><p>Вибрати предмет <fa-icon [icon]="faAngleDown" class="faAngledown__menu"></fa-icon></p></div>
              <ul>
                <li><div class="menu__vertical__button"><p>Програмування</p></div></li>
                <li><div class="menu__vertical__button"><p>Вища математика</p></div></li>
                <li><div class="menu__vertical__button"><p>Фізика</p></div></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="back__img">
        <img src="assets/img/img15.jpg" alt="=(">
        <button class="button__img">Здати онлайн</button>
      </div>
    </div>
  </div>
  <div class="col-12 settings-announcement padding_45px">
    <li><fa-icon [icon]="faBlog" class="faBlog icon"></fa-icon></li>
    <p>БЛОГ</p>
  </div>
  <div class="blog__block" style="
   background: url(assets/img/img16.jpg);
   background-size: cover;">
    <div class="blog__field">
      <div class="blog__field__border">
        <div class="author">Анатолійович</div>
        <div class="date">2019-07-25</div>
        <div class="contents">Lorem asfsfasaf safaf sfasaf fasfsa saf afsfsafsasafs s s s s s s s ss s s s sfasfasaffas asfasfs</div>
      </div>
    </div>
  </div>
  <div class="row blok-5">
    <div class="white-line">
      <div class="blou-blok1">
        <div class="col uku"><button type="button" class="btn borders">
          <img src="" alt="=(" class="img-blou-blok">
        </button>
          <button type="button" class="btn borders ">
            <img src="" alt="=(" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="" alt="=(" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="" alt="=(" class="img-blou-blok">
          </button>
          <button type="button" class="btn borders ">
            <img src="" alt="=(" class="img-blou-blok">
          </button></div>
      </div>
      <div class="backe-image">
        <img src="assets/img/img10.jpg" alt="=(" class="image">
      </div>
      <div class="buttons">
        <button class="btn btn-light button-1" type="submit">Долучитися</button>
        <button class="btn btn-primary button-2" type="submit">Прийднатися</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>