  <div class="header clearfix">
    <nav class="navbar navbar-expand-md navbar-dark position">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item Otstup">
            <a class="nav__link text-2" href="#"><img src="assets/images/UKRAINE.png"></a>
            <a class="nav__link text-2" href="#"><img src="assets/images/USA.png"></a>
          </li>
          <li class="nav-item Otstup">
            <a class="nav__link text-2" href="#">Реєстрація <span class="sr-only">(current)</span></a>
            <a class="nav__link text-2" href="#">Вхід</a>
          </li>
        </ul>
        <div class="input-group col-md-3 mx-xs-auto">
          <input class="form-control py-2 border-right-0 border" type="" value="" id="example-search-input">
          <span class="input-group-append">
                  <button class="btn border-left-0 border QQQ" type="button">
                    <i class="fa fa-search"><img src="assets/images/i class=fas fa-searchi.png" alt=""></i>
                  </button>
                </span>
        </div>
      </div>
    </nav>

    <div class="dvs dvs-1">
      <div class="col"></div>
      <div class="col">
        <a class="butt" href="#">головна</a>
        <a class="butt" href="#">студенту</a>
        <a class="butt" href="#">наука</a>
        <a class="butt" href="#">структура</a>
        <a class="butt" href="#">про нас</a></div>
      <div class="col"></div>
    </div>

    <div class="HOUSE">
      <p><img class="home" src="assets/images/123.png" alt="house"></p>
    </div>

    <div class="text-1">
      <div class="col"><p>ЛУЦЬКИЙ НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ</p></div>
      <div class="w-100"></div>
      <div class="col"><p>Кафедра комп'ютерної інженерії та кібербезпеки</p></div>
    </div>

    <div class="row justify-content-center no-gutters IMAGES">
      <div class="col-auto"><p><img class="Images-1" src="assets/images/img2.png" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-2" src="assets/images/img3.png" alt="=("></p></div>
      <div class="col-auto"><p><img class="Images-3" src="assets/images/img4.png" alt="=("></p></div>
    </div>
  </div>

