.text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  min-height: 120px;
}
.full-text {
  max-width: 450px;
}
.top-text{
  font-size: 22px;
  padding-bottom: 20px;
}
.bot-text {
  font-size: 20px;
}
p {
  margin: 0;
}
.image1 {
  padding-right: 0;
}
.panel {
  height: 175px;
  width: 100%;
  background-color: #f1efe6;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.first-blok {
  width: 100%;
  margin: 0;
  padding: 20px 0 0 0;

}
.image-1-size {
  width: 100%;
  height: auto;
  max-height: 390px;
}
.text1 {
  font-size: 16px;
  color: #77786f;
  padding: 1% 3% 1% 3%;
}
.text1:hover {
  color: #273959;
}
.settings-announcement {
  color: #77786f;
  font-size: 16px;
  padding-top: 30px;
  font-weight: 600;
}
.announcement-blok {
  background: #f0eee5;
  background: linear-gradient(to top, #f0eee5, #b5b4b6);
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 210px;
  display: inline-block;
  margin: 30px 15px 0 15px;
  padding: 0 20px 0 20px;
}
.date {
  padding-top: 20px;
  color: black;
}
.blok-lessons {
  background:
    url("assets/img1/img2.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: auto;
  min-height: 120px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.announcement-text {
  padding-top: 20px;
  color: black;
  text-align-last: center;
}
.announcement {
  width: 100%;
  height: auto;
}
.dws-menu ul,
.dws-menu ol {
  list-style: none;
}
.dws-menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  align-content: center;
  overflow: auto;
  vertical-align: center;
  flex-wrap: wrap;
}
.dws-menu > ul li a {
  display: block;
  padding: 5px 20px 5px 20px;
  font-size: 18px;
  color: #f1efe6;
  text-decoration: none;
  border: solid 1px #f1efe6;
  margin: 20px 30px 0 30px;
}
.dws-menu > ul  li {
  position: relative;
}
.dws-menu > ul li > a i .fa {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 18px;
}
.dws-menu > ul li a:hover {
  background: #f1efe6;
  color: #273959;
  border-color: #273959;
}
.faAngledown {
  font-size: 24px;
}
.style_table {
  height: auto;
  width: fit-content;
  padding: 20px 70px 20px 70px;
  background-color: #f1efe6;
  box-shadow: 0.4em 0.4em 7px rgba(122 , 122, 122, 0.5);
  border-radius: 7px;
  border: none;
  margin: auto;
  color: black;
  font-size: 16px;
}
.style_table div {
  width: 100%;
  height: 5px;
  padding-left: 105%;
  padding-bottom: 40px;
}
.column {
  width: 150px;
  border: #77786f solid 1px;
}
.line {
  height: 40px;
  border: #77786f solid 1px;
  font-size: 14px;
}
.line-first {
  height: 60px;
  border: #77786f solid 1px;
  font-size: 16px;
}
.faAngle_1 {
  font-size: 32px;
  text-align: right;
  color: #273959;
  margin: 0;
  float: right;
  height: 20px;
}
.style_table p {
  position: relative;
  margin: 0;
  text-align: right;
  height: 17px;
  left: 50px;
}
.padding_45px {
  padding-top: 45px;
}
.blou-blok {
  position: relative;
  background: linear-gradient(to right, #273959, #6bcad4, #273959);
  height: auto;
  padding: 20px 0 5px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0.4em 0.4em 7px rgba(122 , 122, 122, 0.5);
}
.img {
  width: 45%;
  display: flex;
  justify-content: right;
}
.content {
  width: 55%;
  padding-left: 10px;
}
.text_1 {
  color: white;
  font-size: 10pt;
  text-align: left;
}
.text_2 {
  color: #4a473d;
  font-size: 16pt;
  text-align: left;
}
.input_field {
  display: flex;
  justify-content: left;
}
.input_field:hover {
  border-color: aqua;
  border-radius: 5px;
}
.test__online {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.full__line {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f1efe6;
  z-index: 1;
  width: 100%;
  height: 170px;
}
.back__img {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  bottom: 55px;
  margin: 0;
  padding: 0;
}
.blou__blok {
  position: absolute;
  width: 300px;
  height: 170px;
  background: linear-gradient(to right, #273959, #6bcad4, #273959);
  margin: 30px 600px 0 0;
  z-index: 4;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.button__img {
  position: absolute;
  background-color: #f1efe6;
  color: #77786f;
  border-radius: 4px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  width: 170px;
  height: 40px;
  border: none;
  transform: translateY(0);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.button__img:hover {
  transform: translateY(-15px);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #6bcad4;
  color: #f1efe6;
}
.button__img:before {
  color: #6bcad4;
}
.menu ul {
  position: relative;
  margin: 0;
  padding: 0;
}
.menu__button {
  width: 180px;
  height: 35px;
  background-color: #f1efe6;
  border-radius: 2px 2px 0 0;
}
.menu ul:hover {
  background-color: #273959;
}
.menu li:hover {
  transform: translateY(-2px);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menu ul li a {
  color: #77786f;
  font-size: 16px;
  text-decoration: none;
}
.menu__vertical__button {
  width: 180px;
  height: 30px;
  background-color: #f1efe6;
  display: flex;
  justify-content: left;
}
.menu__vertical__button:hover {
  background-color: #6bcad4;
}
.menu ul ul li a {
  color: #77786f;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
  padding-left: 10px;
}

.menu ul ul > li:hover a {
  color: #f1efe6;
  font-size: 15px;
}
.faAngledown__menu {
  position: relative;
  font-size: 20px;
  top: 3px;
}
.menu ul ul {
  display: none;
  position: absolute;
}
.menu ul > li:hover ul {
  display: block;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.blog__block {
  width: 100%;
  background: url("assets/img1/img4.png");
  background-size: cover;
  padding-top: 40px;
  display: block;
  justify-content: center;
  min-height: 550px;
  margin-top: 30px;
  padding-bottom: 40px;
}
.blog__field {
  width: 940px;
  min-height: 70px;
  background-color: #f1efe6;
  border-radius: 10px;
  box-shadow: 4px 4px #95979f;
  height: fit-content;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}
.blog__field__border{
  width: 100%;
  height: auto;
  border: 2px solid #f1efe6;
  border-radius: 10px;
  position: relative;
  bottom: 8px;
  right: 8px;
}
.author,
.date,
.contents {
  display: inline-block;
  font-size: 14pt;
  color: #000000;
  min-height: 40px;
  padding-top: 15px;
  position: relative;
  vertical-align: text-top;
}
.author {
  width: fit-content;
  padding-right: 35px;
  text-align: right;
  padding-left: 30px;
  max-width: 25%;
}
.date {
  width: fit-content;
  max-width: 15%;
  padding-right: 20px;
}
.contents{
  width: fit-content;
  max-width: 60%;
  padding-right: 10px;
}
/*md*/
@media (max-width: 1200px) {
  .top-text{
    font-size: 20px;
  }
  .bot-text{
    font-size: 18px;
  }
  .text1 {
    font-size: 15px;
  }
}
.dws-menu > ul li a {
  font-size: 15px;
}
.faAngledown {
  font-size: 21px;
}
/*sm*/
@media (max-width: 992px) {
  .top-text{
    font-size: 18px;
  }
  .bot-text{
    font-size: 16px;
  }
  .text1 {
    font-size: 14px;
  }
  .style_table {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
  }
  .text_1 {
    color: white;
    font-size: 8pt;
    text-align: left;
  }
  .text_2 {
    color: #4a473d;
    font-size: 14pt;
    text-align: left;
  }
  .input_field {
    width: 200px;
  }
  .img_size {
    width: 130px;
    height: auto;
  }
  .full__line {
    height: 155px;
  }
  .back__img {
    bottom: 55px;
  }
  .back__img img {
    width: 500px;
    height: auto;
  }
  .blou__blok {
    width: 250px;
    height: 150px;
    margin: 25px 500px 0 0;
  }
  .button__img {
    width: 150px;
    height: 35px;
  }
  .menu__button {
    width: 160px;
    height: 30px;
  }
  .menu__vertical__button {
    width: 160px;
    height: 25px;
    background-color: #f1efe6;
    display: flex;
    justify-content: left;
  }
  .menu ul ul li a {
    font-size: 10px;
  }
  .menu ul ul li a:hover {
    font-size: 13px;
  }
  .menu ul li a {
    font-size: 14px;
  }
  .style_table div {
    width: 25px;
    height: 5px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .blog__field {
    width: 730px;
  }
  .date {
    margin-right: 15px;
  }
  .contents {
    width: 55%;
  }
  .blog__block {
    min-height: 300px;
  }
}
/*xs*/
@media (max-width: 768px) {
  .top-text{
    font-size: 16px;
  }
  .bot-text{
    font-size: 14px;
  }
  .text1 {
    font-size: 13px;
  }
  .dws-menu ul {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .text1 {
    font-size: 14px;
  }
  .style_table {
    width: 100%;
    border-radius: 0;
  }
  .text_1 {
    color: white;
    font-size: 7pt;
    text-align: left;
  }
  .text_2 {
    font-size: 13pt;
    text-align: left;
  }
  .input_field {
    width: 180px;
  }
  .img_size {
    width: 115px;
    height: auto;
  }
  .full__line {
    height: 155px;
  }
  .back__img {
    bottom: 35px;
  }
  .back__img img {
    width: 450px;
    height: auto;
  }
  .blou__blok {
    width: 230px;
    height: 140px;
    margin: 0 400px 0 0;
  }
  .button__img {
    width: 140px;
    height: 35px;
    font-size: 16px;
  }
  .menu__button {
    width: 150px;
    height: 30px;
  }
  .menu__vertical__button {
    width: 150px;
    height: 25px;
    background-color: #f1efe6;
    display: flex;
    justify-content: left;
  }
  .menu ul ul li a {
    font-size: 9px;
  }
  .menu ul ul li a:hover {
    font-size: 12px;
  }
  .menu ul li a {
    font-size: 13px;
  }
  .blog__field {
    width: 500px;
  }
  .date {
    margin-right: 15px;
  }
  .contents {
    width: 55%;
  }
  .date,
  .contents,
  .author {
    font-size: 12px;
  }
}
@media (max-width: 634px){
  .style_table{
    padding-left: 5px;
    padding-right: 5px;
  }
  .style_table p {
    left: -10px;
  }
  .blou-blok {
    width: 100%;
  }
  .full__line {
    height: 145px;
  }
  .back__img {
    bottom: 30px;
  }
  .back__img img {
    width: 450px;
    height: auto;
  }
  .blou__blok {
    width: 200px;
    height: 130px;
    margin: 0 350px 0 0;
  }
  .button__img {
    width: 130px;
    height: 30px;
    font-size: 14px;
  }
  .menu__button {
    width: 140px;
    height: 30px;
  }
  .menu__vertical__button {
    width: 140px;
    height: 20px;
    background-color: #f1efe6;
    display: flex;
    justify-content: left;
  }
  .menu ul ul li a {
    font-size: 8px;
  }
  .menu ul ul li a:hover {
    font-size: 11px;
  }
  .menu ul li a {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .top-text{
    font-size: 14px;
  }
  .bot-text{
    font-size: 12px;
  }
  .image1{
    display: none;
  }
  .text1 {
    font-size: 12px;
  }
  .img {
    width: auto;
    padding-left: 10%;
  }
  .full__line {
    height: 140px;
  }
  .back__img {
    z-index: 4;
  }
  .back__img img {
    position: relative;
    width: 1px;
    height: 1px;
    z-index: 4;
    padding-top: 130px;
  }
  .blou__blok {
    width: 100%;
    height: 140px;
    margin: 0 0 0 0;
    padding-top: 30px;
  }
  .button__img {
    width: 130px;
    height: 30px;
    font-size: 14px;
    z-index: 4;
  }
  .menu__button {
    width: 140px;
    height: 30px;
  }
  .menu__vertical__button {
    width: 140px;
    height: 20px;
    background-color: #f1efe6;
    display: flex;
    justify-content: left;
  }
  .menu ul ul li a {
    font-size: 8px;
  }
  .menu ul ul li a:hover {
    font-size: 11px;
  }
  .menu ul li a {
    font-size: 12px;
  }
  .line {
    font-size: 10px;
  }
  .first-line {
    font-size: 12px;
  }
  .blog__field {
    width: 350px;
  }
  .date {
    margin-right: 15px;
    padding-left: 5px;
  }
  .contents {
    width: 53%;
  }
  .date,
  .contents,
  .author {
    font-size: 10px;
  }
  .author {
    padding-left: 15px;
    margin-right: 7px;
  }
}
@media (max-width: 370px) {
  .img {
    width: auto;
    padding-left: 14px;
  }
  .text_1 {
    font-size: 7pt;
  }
  .text_2 {
    font-size: 11pt;
  }
  .input_field {
    width: 130px;
  }
  .full__line {
    height: 100px;
  }
  .line {
    font-size: 10px;
  }
  .first-line {
    font-size: 10px;
  }
  .column {
    font-size: 12px;
  }
  .faAngle_1{
    font-size: 24px;
  }
  .blog__field {
    width: 100%;
  }
  .blog__field__border{
    border: none;
  }
  .date {
    margin-right: 15px;
    padding-left: 5px;
  }
  .contents {
    width: 50%;
  }
  .date,
  .contents,
  .author {
    font-size: 9px;
  }
  .author {
    padding-left: 15px;
    margin-right: 7px;
  }
}

