body {
  margin: 0;

  font-family: 'Myriad Pro' , sans-serif;
  font-size: 18px;
  color: #f1efe6;
  text-decoration: none;
  text-align: center;
}

.footer	{
  background:
    url("assets/images/img9.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;

  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  z-index: 100;
}

.footer > .row > .col-12 {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.my{
  display: inline-block;
  vertical-align: top;
  margin: 0 18px;
  color: #f1efe6;
  text-decoration: none;
  padding: 0 5% 0 5%;

  transition: color .2s linear;
}
.my:hover {
  color: #273959;
  text-decoration: none;

}

.footer-info {
  height: 33px;
  width: auto;
}

.text1 {
  font-size: 12px;
}
.text2 {
  font-size: 9px;
  text-align-last: center;
}
.uu {
  height: 36px;
  width: auto;
}


@media (min-width: 768px) {
  .footer	{
    background:
      url("assets/images/img9.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;

    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    z-index: 100;
  }
  .footer-info {
    height: 39px;
    width: auto;
  }
  .text1 {
    font-size: 14px;
  }.text2 {
     font-size: 10px;
     text-align-last: center;
     padding-bottom: 30px;
   }
  .uu {
    height: 41px;
    width: auto;
  }
}


/* на md */
@media (min-width: 992px) {
  .footer	{
    background:
      url("assets/images/img9.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;

    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    z-index: 100;
  }
  .footer-info {
    height: 45px;
    width: auto;
  }
  .text1 {
    font-size: 16px;
  }
  .text2 {
    font-size: 11px;
    text-align-last: center;
  }
  .uu {
    height: 46px;
    width: auto;
  }
}
/* на lg */
@media (min-width: 1200px) {
  .footer	{
    background:
      url("assets/images/img9.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;

    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    z-index: 100;
  }
  .footer-info {
    height: 51px;
    width: auto;
  }
  .text1 {
    font-size: 18px;
  }
  .text2 {
    font-size: 12px;
    text-align-last: center;
  }

  .uu {
    height: 51px;
    width: auto;
  }
}
