<div class="footer">
  <div class="row">
    <div class="col-12">
      <a href="#" class="my">
        <img class="footer-info" src="assets/images/i class=fas fa-user-graduatei.png" class="uu">
        <p class="text1">СТУДЕНТУ</p>
      </a>

      <a href="#" class="my">
        <img class="footer-info" src="assets/images/i class=fas fa-atomi.png" class="uu">
        <p class="text1">НАУКА</p>
      </a>

      <a href="#" class="my">
        <img class="footer-info" src="assets/images/i class=fas fa-pencil-ruleri.png" class="uu">
        <p class="text1">СТРУКТУРА</p>
      </a>

      <a href="#" class="my">
        <img class="footer-info" src="assets/images/i class=fas fa-blogi.png" class="uu">
        <p class="text1">БЛОГ</p>
      </a>

      <a href="#" class="my">
        <img class="footer-info" src="assets/images/i class=fas fa-questioni.png" class="uu">
        <p class="text1">ПРО НАС</p>
      </a>
    </div>
  </div>

  <div class="row text2">
    <div class="col-12">
      Всі права на статті, ілюстрації і інші матеріали належать Луцькому національному технічному університету і охороняються  законом.
      <div class="w-100"></div>
      Відтворення в будь-якій формі вцілому чи частково будь-яких статтів, ілюстрацій, рекламних чи інших матеріалів без попереднього письмового дозволу
      <div class="w-100"></div>
      ЗАБОРОНЯЄТЬСЯ.
    </div>
  </div>

</div>
