<app-header></app-header>
<div class="header">
  <div class="dvs dvs-1">
    <div class="col"></div>
    <div class="col">
      <a class="butt butt-borde" routerLink="/">головна</a>
      <a class="butt butt-borde" routerLink="/students">студенту</a>
      <a class="butt butt-borde" routerLink="/science">наука</a>
      <a class="butt butt-borde" routerLink="/about">про нас</a></div>
    <div class="col"></div>
  </div>

  <div class="row first-blok">
    <div class="col-sm-6 text">
      <p>ЛУЦЬКИЙ
        НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ
        УНІВЕРСИТЕТ <br><br>
        Кафедра комп'ютерної іженерії та
        КІБЕРБЕЗПЕКИ</p>
    </div>

    <div class="col-6 image1">
      <img src="assets/img/img12.jpg" alt="(">
    </div>
  </div>
</div>

<div class="body">
  <div class="control_panel">
    <a href=""><li><fa-icon [icon]="faChartLine" class="faChartLine icon-footer"></fa-icon></li>Статистика</a>
    <a href=""><li><fa-icon [icon]="faEdit" class="faEdit icon-footer"></fa-icon></li>Навчальні матеріали</a>
  </div>

  <div class="statistic_block">
    <p><li><fa-icon [icon]="faChartLine" class="faChartLine icon"></fa-icon></li>Статистика</p>
  </div>
  <div>
    <canvas id="lineChartSuccess"></canvas>
  </div>
  <div>
    <canvas  id="lineChartVisit" ></canvas>
  </div>
  <div class="educational_materials">
    <p><li><fa-icon [icon]="faEdit" class="faEdit icon"></fa-icon></li>Навчальні матеріали</p>
  </div>

  <div class="content_materials">
    <img src="assets/img/img13.jpg" alt=")">
    <nav class="menu">
      <ul class="topmenu">
        <li><a href="">Виберіть предмет <fa-icon [icon]="faAngleDown" class="faAngledown"></fa-icon></a>
          <ul class="submenu">
            <li><a href="">Назва предмету</a></li>
            <li><a href="">Назва предмету</a></li>
            <li><a href="">Назва предмету</a></li>
            <li><a href="">Назва предмету</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <button>Пошук</button>
  </div>
</div>

<app-footer></app-footer>
